/* CSS declarations go here */
body {
    font-family: sans-serif;
    position: absolute;
    top: 10px;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0;
    margin: 0;
    font-size: 14px;
    width: 100%;
}

body > div {
    width: 90%;
    position: relative;
    margin: 0 auto;
}
